<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link th:href="@{https://sandbox.holigo.id/css/custom.css}" rel="stylesheet" th:media="${media}" />
    <title>Invoice</title>
</head>

<body>
    <div class="frame-9470 flex-row-vcenter-hstart" th:fragment="header">
        <img th:src="@{https://sandbox.holigo.id/images/invoice-holigo.png}" alt="image not found" class="group-1" />
        <div class="frame-9287 flex-col-hstart-vstart">
            <p class="txt-7110" th:text="#{invoice.title}">lable1</p>
            <p class="txt-181" th:text="#{invoice.subtitle}">#label2</p>
        </div>
    </div>
</body>

</html>